<section class="hero">
    <p>OLÁ! BEM VINDO AO<br><span>E-Trashway</span><br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, in pariatur inventore atque et debitis aliquam. Deleniti, laboriosam officiis nam labore officia voluptate atque laudantium temporibus corrupti ea, dolor est.</p>
    <button class="registerBtn register">Cadastre-se</button>
    <button class="loginBtn login">Entre aqui</button>
</section>
<article class="secArticle">
    <h1>Título</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem porro, incidunt non inventore alias quibusdam tenetur, tempora doloremque tempore sit dolores dolorum, id cumque fugiat corporis quidem delectus quasi eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque accusamus dolore omnis repellat, quae excepturi praesentium voluptatem ex reprehenderit. Expedita, aspernatur modi! Vero culpa alias in, nam reiciendis dolor quaerat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur autem quibusdam minima unde vel omnis aliquam, animi maiores similique, praesentium accusantium nostrum iure quidem officia repellat expedita consequatur quisquam alias? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, commodi ex, voluptates beatae officia hic quos quis distinctio ab officiis quaerat optio? Ipsam amet, doloribus at sunt dolore rem cum.</p>
</article>
{{#if openLogin}}
<div id="authenticationModal" class="authModal" style="display: flex;">
    {{#if messages.message}}
    <div class="message modalMessage">
        {{messages.message}}
        <i id="messageCloser" class="icon bi bi-x"></i>
    </div>
    {{/if}}
    <div id="formBox" class="formDiv">
        <h1>Entre agora</h1>
        <form action="/login" method="post">
            {{#with inputs}}
            <label for="email">Endereço de Email:</label>
            <input type="email" name="email" placeholder="Digite seu endereço de e-mail" value="{{email}}" required>
            <label for="password">Senha</label>
            <input type="password" name="password" placeholder="Digite sua senha" value="{{password}}" required>
            {{/with}}
            <input type="submit" value="Avançar">
        </form>
        <button class="forgotPassBtn">Esqueceu a senha?</button>
        <p>Não tem uma conta? <span class="alterModal register">Cadastre-se!</span></p>
    </div>
</div>
{{else}}
{{#if openRegister}}
<div id="authenticationModal" class="authModal" style="display: flex;">
    {{#if messages.message}}
    <div class="message modalMessage">
        {{messages.message}}
        <i id="messageCloser" class="icon bi bi-x"></i>
    </div>
    {{/if}}
    <div id="formBox" class="formDiv">
        <h1>Cadastre-se</h1>
        <form action="/register" method="post">
        {{#with inputs}}
            <label for="name">Nome completo:</label>
            <input type="text" name="name" placeholder="Digite seu nome" value="{{name}}" required>
            <label for="email">Endereço de Email:</label>
            <input type="email" name="email" placeholder="Digite seu endereço de e-mail" value="{{email}}" required>
            <label for="password">Senha</label>
            <input type="password" name="password" placeholder="Digite sua senha" value="{{password}}" required>
            <label for="passwordConfirm">Confirmação de senha:</label>
            <input type="password" name="passwordConfirm" placeholder="Confirme sua senha" value="{{passwordConfirm}}" required>
            <input type="submit" value="Avançar">
        {{/with}}
        </form>
        <p>Já tem uma conta? <span class="alterModal login">Entre agora!</span></p>
    </div>
</div>
{{else}}
<div id="authenticationModal" class="authModal">
    <div id="formBox" class="formDiv"></div>
</div>
{{/if}}
{{/if}}


<script src="/scripts/modalInteractions.js"></script>
<script src="/scripts/messageInteractions.js"></script>